.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.sign-up-btn {
  background-color: var(--navy-blue);
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.3s;
  padding: 15px 60px;
  margin-bottom: 20px;
}
.sign-up-btn:hover {
  background-color: rgba(9, 9, 85, 0.795);
}
.login-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.3s;
  padding: 15px 65px;
}
.login-btn:hover {
  background-color: rgba(0, 0, 0, 0.795);
} 